includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 8
    excludePaths:
        - app/*/*/*Factory.php
        - database/*